Thumbs.db
.project
.tern-project
.classpath
.factorypath
.settings/
.springBeans
.gradle
.iml
.cfe
.cfs
.si
.lock



target/
.settings/
test-output/
/out/
.idea/


*.class
*.classpath
*.war
*.ear
*.iml

bin
build
